/* BLOCCO LEZIONI */
#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#lezioni,#steps,#why {
  text-align: center;
  margin-top: 100px;
}

/* BLOCCO STEPS */
#steps .container img{
  margin-top: 20px;
  margin-bottom: 20px;
  
}

/* BLOCCO PERCHE */
#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 20px;
  
}

/* COMMON */
.bg-grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}
.margin{
  margin-top: 80px;
}